<ul id="tasklist">
	<div class="checkbox notasks" ng-hide="tasks.length">
    <input type="checkbox" disabled checked><label>No tasks. Hurray!</label>
  </div>
  <li ng-show="tasks.length" class="due_on">Due on</li>
	<li ng-repeat="task in tasks">
  <div ng-show="task.editing">
    <input type="text" class="form-control taskedit" ng-model="task.text" ng-blur="updateText(task)" td-focus="task.editing" ng-keypress="updateText(task, $event)">
  </div>
  <div class="checkbox" ng-hide="task.editing">
    <input type="checkbox" ng-model="task.completed" ng-change="close(task)"><label ng-click="startEditing(task)" ng-bind-html="taglinks(task.text)"></label><span class="due_on">{{task.due_on.$date|date:'MMMM dd. HH:mm'}}</span>
  </div>
  </li>
</ul>
<form ng-submit="addTask()">
<input ng-model="task" type="text" class="form-control" placeholder="New task">
</form>
